{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}


{% block head %}
    <div style="display: inline-block;width:41%;vertical-align:top;">
        <a trigger="yes" onclick="showHideContent(this, '{% url 'reqApp:elemContent' %}', 'UR', {{ element.id }}, {% if registry %}1{% else %}0{% endif %}, {% if canEdit %}1{% else %}0{% endif %})" style="cursor:pointer;" name="{{ element.identifierText }}">
            <b class="{{ element.state }}">{{ element }}</b>
        </a>
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Costo" style="display: inline-block;width:4%;vertical-align:top;">
        {{ element.cost }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Prioridad" style="display: inline-block;width:12%;vertical-align:top;">
        {{ element|priority }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Tipo" style="display: inline-block;width:16%;vertical-align:top;">
        {{ element|URType }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Hito Asociado" style="display: inline-block;width:20%;vertical-align:top;">
        {% if element.increment.validity %}
            <div>{{ element.increment }}</div>
        {% else %}
            <div style="color:Gray;">{{ element.increment }} (eliminado)</div>
        {% endif %}
    </div>
{% endblock %}
