{% load reqApp_tags %}

<div class="element_container">
    <b>{{element}}</b><br/>
    <div>
    <i>Descripción: </i>{{ element.description }}<br/>
    <i>Estado: </i><b class="{{ element.state }}">{{ element|state }}</b><br/>
    <i>Tipo: </i>{{ element|URType }}<br/>
    {% if element.increment.validity %}
        <i>Hito: </i>{{ element.increment }}<br/>
    {% else %}
        <i>Hito: {{ element.increment }} (eliminado)</i><br/>
    {% endif %}
    <i>Prioridad: </i>{{ element|priority }}<br/>
    <i>Estabilidad: </i>{{ element|stability }}<br/>
    <i>Costo: </i>{{ element.cost }}<br/>
    <i>Tipos de Usuarios asociados: </i>
        {% for ut in element.userTypes|enlistValids %}
            {{ut}}, 
        {% endfor %}
    <br/>
    <i>Fuente: </i>{{ element.source }}<br/>
    <i>Fecha Actualización: </i>{{ element.date|date:"Y-m-d H:i" }}
    </div>
</div>
