{% comment %} identifier identifierText deleteWarning {% endcomment %}
<form {% if identifierText %}id="{{ identifierText }}_form"{% else %}id='newElementForm'{% endif %} action="#" method="post" class="edition_container">
	{% csrf_token %}
    {% if identifier %}
        <input type="hidden" name="identifier" value={{ identifier }}>
    {% endif %}
    
    <div>
        {% if identifierText %}
            <b>{{ identifierText }}</b>
        {% endif %}
        
        {% block fields %}{% endblock %}
        
    </div>
    <br/>
	
	
	{% if identifierText %}
        <button title="Cancelar Edición" class="btn btn-primary" type="button" onclick="cancelElementEdition('{{ identifierText }}')"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        <button title="Guardar Cambios" style="margin-left:100px;" class="btn btn-primary" onclick="validEditionForm(event,this)"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        <input type="hidden" name="updateReason" value="">
	{% else %}
    	<button title="Cancelar Edición" class="btn btn-primary" type="button" onclick="cancelNewElement()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    	<button title="Guardar Cambios" style="margin-left:100px;" class="btn btn-primary" type="submit" onclick="return validForm(event,this)"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
	{% endif %}
</form>
