{% extends "reqApp/base.html" %}
{% load reqApp_tags %}
{% block body %}

<div class="row">
    <div class="col-sm-1">
        <a title="Expandir Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='showContents()'><span class="glyphicon glyphicon-zoom-in"></span> Abrir</a>
    </div>
    <div class="col-sm-1">
        <a title="Colapsar Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='hideContents()'><span class="glyphicon glyphicon-zoom-out"></span> Cerrar</a>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
        {% if elementsFilters %}
            {% with get_params="&order="|concat:actual_order %}
                {% include "reqApp/project/filter.html" with elementsFilters=elementsFilters getParams=get_params filtersQuery=filtersQuery %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="col-sm-2">
        {% if canEdit %}
            <a title="Agregar Nuevo" href='#new' class="btn btn-primary btn-xs" onclick='editNewElement()'><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
        {% endif %}
    </div>
    <div class="col-sm-1 col-sm-offset-2">
        <a title="Generar Documento PDF" data-toggle="tooltip" data-placement="auto" href="{% url 'reqApp:pdf' %}?pdfType={{ pdfLink }}" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF</a>
    </div>
    <div class="col-sm-1">
        <a style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Ayuda</a>
    </div>
</div>

{% for msg in msgs %}
    <div class="message">
        {{ msg }}
    </div>
{% endfor %}

<div style="text-align:right;">
    <p>
        <i style="color:Gray;">Elementos:</i>
        <b class="reqLabel label-to_do">{{ elements|listCount }}</b>
        {% if colorLabels %}
            <i style="color:Gray;">Estado:</i>
            <b class="reqLabel label-satisfy">cumple</b>
            <b class="reqLabel label-fails">no cumple</b>
            <b class="reqLabel label-ambiguous">ambiguo</b>
        {% endif %}
    </p>
</div>

{% include ordering_bar with attributes=ordering_attributes actual_order=actual_order getParams=filtersQuery %}

{% ifequal elements|listCount 0 %}
    <p class="centered">--------------- Lista Vacía ---------------</p>
{% else %}
    {% for e in elements %}
        {% include template with element=e canEdit=canEdit %}
    {% endfor %}
{% endifequal %}

{% if canEdit %}
    <div class="new_element">
        <a name='new'></a>
        {% include form_template with form=form %}
    </div>
{% endif %}

<br/><br/><br/><br/><br/><br/>

{% endblock %}
