{% comment %} identifier identifierText deleteWarning {% endcomment %}
<form {% if identifierText %}id="{{ identifierText }}_form"{% else %}id='newElementForm'{% endif %} action="#" method="post" class="edition_container">
	{% csrf_token %}
    {% if identifier %}
        <input type="hidden" name="identifier" value={{ identifier }}>
    {% endif %}
    
    <div>
        {% if identifierText %}
            <b>{{ identifierText }}</b>
        {% endif %}
        
        {% block fields %}{% endblock %}
        
    </div>
    <br/>
	
	
	{% if identifierText %}
	    <input type="hidden" name="updateReason" value="">
	    <div class="row">
	        <div class="col-sm-2">
                <button title="Cancelar Edición" class="btn btn-default btn-xs" onclick="cancelElementEdition('{{ identifierText }}')"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
            </div>
            <div class="col-sm-2">
                <button title="Guardar Cambios" class="btn btn-primary btn-xs" onclick="validEditionForm(event,this)"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
            </div>
        </div>
	{% else %}
	    <div class="row">
	        <div class="col-sm-2">
    	        <button title="Cancelar Edición" class="btn btn-default btn-xs" onclick="cancelNewElement()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    	    </div>
    	    <div class="col-sm-2">
            	<button title="Guardar Cambios" style="margin-left:100px;" class="btn btn-primary btn-xs" onclick="return validForm(event,this)"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
            </div>
	{% endif %}
</form>
