{% if not registry %}
    {% include "reqApp/project/registry_date.html" with element=element %}
{% endif %}

{% block content %}{% endblock %}

{% if canEdit %}
    <br/>
    <button class="btn btn-primary btn-xs" onclick="editElement('{{ element.identifierText }}', '{% url 'reqApp:elemContent' %}', {{ element.id }}, '{{ elemType }}')"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
    <button title="Eliminar {{ element.identifierText }}" style="margin-left:100px;" class="btn btn-primary btn-xs" type="button" onclick="deleteElement('{{ element.identifierText }}', {{ element.identifier }}, '{{csrf_token}}','{{deleteWarning}}')"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
{% endif %}
