{% if not registry %}
    {% include "reqApp/project/registry_date.html" with element=element %}
{% endif %}

{% block content %}{% endblock %}

{% if canEdit %}
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary btn-xs" onclick="editElement('{{ element.identifierText }}', '{% url 'reqApp:elemContent' %}', {{ element.id }}, '{{ elemType }}')"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-xs" onclick="deleteElement('{{ element.identifierText }}', {{ element.identifier }}, '{{csrf_token}}','{{deleteWarning}}')"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
        </div>
    </div>
{% endif %}
