<div>
    Filtro:
    {% for filter in elementsFilters %}
        <span>
            <select
                progressbar
                name="filterSelect"
                class="selectpicker"
                data-style="btn-primary btn-xs"
                title="{{ filter.title }}"
                onchange="filterThis('{{ getParams }}')">
                
                {% for key,name,selected in filter.list %}
                    <option value="&{{ filter.key }}={{ key }}"{% if selected %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </span>
    {% endfor %}
</div>
