<div class="btn-group">
    <button title="Filtrar por Atributo" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-filter"></span> Filtrar <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" style="max-height:400px;overflow-y:scroll;">
        {% for filter in elementsFilters %}
            <li class="dropdown-header">{{ filter.title }}</li>
            {% for key,name,selected in filter.list %}
                <li><a progressbar href="?filter=true{{ filtersQuery }}&{{ filter.key }}={{ key }}{{ getParams }}" {% if selected %}selectedFilter>{{ name }} <span class='glyphicon glyphicon-ok'></span>{% else %}>{{ name }}{% endif %}</a></li>
            {% endfor %}
            <li class="divider"></li>
        {% endfor %}
    </ul>
</div>
