{% load reqApp_tags %}

{% comment %} element canEdit registry actual deleted new extraStyle {% endcomment %}

<div {% if extraStyle %}style="{{ extraStyle }}"{% endif %} class="element_container">
    <div id="{{ element.identifierText }}">
        <div>
            <div class="element_title row">
                <div class="col-sm-11">
                    <div class="row" trigger="yes" onclick="showHideContent(this,'{% url 'reqApp:elemContent' %}','{% block elemType %}{% endblock %}',{{ element.id }},{% if registry %}1{% else %}0{% endif %},{% if canEdit %}1{% else %}0{% endif %})" style="cursor:pointer;">
                        {% block head %}{% endblock %}
                        {% if registry %}
                            {% include "reqApp/tools/registry/registryState.html" with actual=actual deleted=deleted new=new %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-1" style="text-align:right;">
                    {% if not registry %}
                        {% with element|alarms as alerts %}
                            {% if alerts %}
                                <div name="reqAppModal" class="modal fade" role="dialog" aria-hidden="true" style="text-align:left;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                                <h4 class="modal-title">Posibles conflictos de {{ element.identifierText }}</h4>
                                            </div>
                                            
                                            <div class="modal-body">
                                                <ul>
                                                {% for a in alerts %}
                                                    <li>{{a}}</li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a blink="yes" data-toggle="tooltip" data-placement="left" title="Ver Conflictos ..." class="blue_button">
                                    <b style="width:10px;">!</b>
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="{{ element.id }}_content" name="element_content" style="display:none;" ready="no">
            cargando...
        </div>
    </div>
    <div id="{{ element.id }}_formdiv">
    </div>
</div>
