{% load reqApp_tags %}

{% with stateTimeline=element|stateTimeline %}
    {% if stateTimeline %}
        <a  href="#narf"
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            data-html="true"
            title="Línea de Tiempo de Estados de {{ element.identifierText }}"
            data-content="
                <div statevolutionparent style='width:500px;height:2.4em;position:relative;overflow:hidden;border-left:1px solid Gray;border-right:1px solid Gray;'>
                    <span style='position:absolute;width:100%;padding-top:1.2em;'>
                        {% for sta in stateTimeline.states %}
                            <span statevolution data-html='true' title='{{ sta.state|string2State }}<br/>{{ sta.leftDate|date:'Y-m-d' }}<br/>{{ sta.rightDate|date:'Y-m-d' }}' data-toggle='tooltip' class='label-{{ sta.state }}' data-placement='bottom' style='cursor:default;color:White;white-space:nowrap;overflow:hidden;left:{{ sta.left }}%;width:{{ sta.width }}%;text-overflow:ellipsis;position:absolute'>{{ sta.state|string2State }}</span>
                        {% endfor %}
                    </span>
                    {% for inc in stateTimeline.increments %}
                        <span statevolution data-html='true' title='{{ inc.increment }}<br/>{{ inc.increment.initDate|date:'Y-m-d' }}<br/>{{ inc.increment.endDate|date:'Y-m-d' }}' data-toggle='tooltip' data-placement='top' style='cursor:default;border:1px solid Gray;color:Gray;white-space:nowrap;overflow:hidden;left:{{ inc.left }}%;width:{{ inc.width }}%;text-overflow:ellipsis;position:absolute'>{{ inc.increment }}</span>
                    {% endfor %}
                </div>
                <script>
                    var self = $('[data-toggle=tooltip][statevolution]');
                    self.tooltip({container:self.closest('[statevolutionparent]').parent()});
                </script>
            ">
            (línea de tiempo...)
        </a>
        <script>
            $('[data-toggle=popover]').popover({
                container:'body',
                template:'<div class="popover" role="tooltip" style="max-width:none;"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
            });
        </script>
    {% endif %}
{% endwith %}
