body{
    line-height:1.1;
}

.container{
    width:auto;
}

.navbar{
    margin-bottom:5px;
}

.navbar li{
    border-right:6px solid rgba(0,0,0,0);
}
li .navbar-li-selected{
    border-right:6px solid Black;
}

.breadcrumb{
    background-color:rgba(0,0,0,0);
    padding:0px 15px;
    margin-bottom:10px;
}

.alert{
    padding:2px;
}
.alert-dismissible{
    padding-right:34px;
    padding-top:2px;
}
.alert-dismissible .close{
    top:-6px;
}

/* project title between navbars */
.project_name{
    display:block;
    width:auto;
    color:Gray;
    background-color:LightGray;
    text-align:center;
    padding:5px;
    border-radius:12px;
}

/* element container */
.element_container{
    background-color:White;
    border:1px solid #D6D6D6;
    border-radius:5px;
    padding:2px;
}

/*
.element_container:hover{
    border:1px solid Gray;
}
*/

.element_content{
    padding:5px;
    display:none;
}
/* border-top:2px dashed rgba(0,0,0,0.1); */

/* element form container */
.edition_container{
    padding:5px;
    display:none;
}

/* new element form */
.new_element form{
    border:2px dashed #D6D6D6;
    border-radius:5px;
    padding:10px;
}


/* element title */
.element_title:hover .element-identifierText{
    text-decoration:underline;
}

span.element-pointer{
    color:rgba(0,0,0,0);
    white-space:nowrap;
}
.element_title:hover span.element-pointer{
    color:rgba(0,0,0,0.6);
}


/* WARNING: must match with choices.py */
.fails{color:Red;}
.satisfy{color:Green;}
.ambiguous{color:Purple;}
.to_do{color:Black;}
.done{color:Blue;}
.not_done{color:Red;}
.approved{color:Green;}
.reprobate{color:Orange;}
.discarded{color:Purple;}

/* registry element colors */
.registry-actual{color:Teal;}
.registry-new{color:Olive;}
.registry-deleted{color:DarkOrange;}
.registry-edited{color:YellowGreen;}

/* color labels */
div .reqLabelDiv{
    padding:3px 2px;
    text-align:right;
}
.reqLabel{
    color:White;
    border-radius:8px;
    padding:0px 2px;
    margin:0px 2px;
    font-size:0.8em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label-fails{background-color:rgba(255,0,0,0.7);}/* Red */
.label-satisfy{background-color:rgba(0,128,0,0.7);}/* Green */
.label-ambiguous{background-color:rgba(128,0,128,0.7);}/* Purple */
.label-to_do{background-color:rgba(0,0,0,0.7);}/* Black */
.label-done{background-color:rgba(0,0,255,0.7);}/* Blue */
.label-not_done{background-color:rgba(255,0,0,0.7);}/* Red */
.label-approved{background-color:rgba(0,128,0,0.7);}/* Green */
.label-reprobate{background-color:rgba(255,165,0,0.7);}/* Orange */
.label-discarded{background-color:rgba(128,0,128,0.7);}/* Purple */
.label-registry-actual{background-color:rgba(0,128,128,0.7);}/* Teal */
.label-registry-new{background-color:rgba(128,128,0,0.7);}/* Olive */
.label-registry-deleted{background-color:rgba(255,140,0,0.7);}/* DarkOrange */
.label-registry-edited{background-color:rgba(154,205,50,0.7);}/* YellowGreen */

/* vertical-align:top; */
.top{
    display: inline-block;
    vertical-align:top;
}

/* ordering bar of elements list */
div.ordering_bar{
    background-color:#F5F5F5;
    border-radius:5px;
    margin:0px;
    padding:0px;
}

a.ordering_bar:link, a.ordering_bar:visited{
    color:#428bca;
    text-align:center;
    text-decoration:none;
}

a.ordering_bar:hover span.ordering_bar, a.ordering_bar:active{
    color:#428bca;
    display:inline;
}
a.ordering_bar:hover span{
    display:none;
}
/*text-decoration:underline;*/
span.ordering_bar{
    color:rgba(0,0,0,0);
}

/* blue buttons for forms and toolbars */
button.blue_button, a.blue_button, SELECT.blue_button{
    color:White;
    background-color:#1464F6;
    text-decoration:none;
    border: 1px solid White;
    border-radius:5px;
    cursor:pointer;
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.9em;
    padding:2px;
}

button.blue_button:hover, a.blue_button:hover, SELECT.blue_button:hover{
    background-color:#0C59CF;
}

button.blue_button:active, a.blue_button:active{
    background-color:#3D8AF7;
}

button.blue_button:focus{
    border: 1px solid Black;
}

.blue_button option{
    background-color:#0C59CF;
    cursor:pointer;
    font-family:Arial,Helvetica,sans-serif;
}

/* center my content */
p.centered{
    text-align:center;
}

/* element list user's messages */
.message{
    background-color:#D4E3FC;
    padding:5px;
    border-radius:10px;
}

/* traceability matrices */
table.matr-table{
    border-spacing:0px;
    border-collapse:separate;
    border:none;
    margin:10px;
    padding:0px;
    empty-cells:show;
}
.matr-table th{
    font-family:"Courier New", Courier, monospace;
    font-size:1em;
    line-height:0.75em;
    padding:0px;
    margin:0px;
    border:1px solid rgba(0,0,0,0);
}
.matr-table td{
    border:1px solid #C0C0C0;
    background-color:White;
    width:9px;
    height:9px;
    cursor:pointer;
    padding:0px;
    margin:0px;
    text-align:center;
}

.matr-table td:hover{
    border: 1px solid #1464F6;
}

div.matr_selec{
    position:relative;
    width:80%;
    height:80%;
    background-color:#1464F6;
    margin:10%;
    border-radius:5px;
    display:none;
}

td.matr_match{
    background-color:Black;
}

td.matr_no_match{
    background-color:rgba(0,0,0,0);
}
td.matr_no_intersec{
    background-color:#707070;
}

td.matr_no_intersec_row{
    background-color:#909090;
}

td.matr_no_intersec_col{
    background-color:#909090;
}

/* invalid input */
.invalid{
    background-color: #ffdddd;
}

/* label form fields */
span.def_width{
    display:inline-block;
    width:7em;
}

/* statistics tables */
table.statistics{
    border-collapse:collapse;
    border-spacing: 0px;
    border:none;
    margin:0px;
    padding:0px;
}
.statistics th{
    border-collapse:collapse;
    border-spacing: 0px;
    border: 1px solid LightGray;
    padding:4px;
    margin:0px;
}
.statistics td{
    border-collapse:collapse;
    border-spacing: 0px;
    border: 1px solid LightGray;
    padding:3px;
    margin:0px;
    background-color:White;
}
tr.statistics{
    border-top: 3px solid LightGray;
}
th.statistics{
    width:6em;
}

/* input file/image tinymce */
div.tinymceImg{
    width: 20px;
    height: 20px;
    overflow: hidden;
}

div.tinymceImg input{
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

/* ul flat */
ul.flat{
    margin-top:0px;
    margin-bottom:0px;
}

/* alarms */
.mainReqAlarm{
    color:#428bca;
    cursor:pointer;
}

/* jquery countdown */
.is-countdown{
    border:none;
    background-color:rgba(0,0,0,0);
}
