{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}IC{% endblock %}

{% block head %}
    <div class="col-sm-4">
        <a name="{{ element.identifierText }}"></a>
        <b class="element-identifierText">{{ element.identifierText }} {{ element }}</b><span class="element-pointer"> &#x25C4;</span>
    </div>
    {% comment %}
    <div class="col-sm-3"><span data-toggle="tooltip" data-placement="left" title="Fecha Inicio">{{ element.initDate|date:"Y-m-d H:i" }}</span></div>
    <div class="col-sm-3"><span data-toggle="tooltip" data-placement="left" title="Fecha Fin">{{ element.endDate|date:"Y-m-d H:i" }}</span></div>
    {% endcomment %}
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-6"><span data-toggle="tooltip" data-placement="left" title="Fecha Inicio" style="white-space:nowrap">{{ element.initDate|date:"Y-m-d H:i" }}</span></div>
            <div class="col-sm-6"><span data-toggle="tooltip" data-placement="left" title="Fecha Fin" style="white-space:nowrap">{{ element.endDate|date:"Y-m-d H:i" }}</span></div>
        </div>
    </div>
    {% if registry %}
        <div class="col-sm-3"></div>
    {% else %}
        <div class="col-sm-1"><span data-toggle="tooltip" data-placement="left" title="Requisitos de Usuario" class="badge">{{ element|incrementRUCount }}</span></div>
        <div class="col-sm-1"><span data-toggle="tooltip" data-placement="left" title="Requisitos de Software" class="badge">{{ element|incrementRSCount }}</span></div>
        <div class="col-sm-1"><span data-toggle="tooltip" data-placement="left" title="Costo de Requisitos de Software">{{ element|incrementRSCost }}</span></div>
    {% endif %}
{% endblock %}
