{% extends "reqApp/project/element_content.html" %}
{% load reqApp_tags %}


{% block content %}
<br/>
<div>
    <span style="color:Gray;">Descripción: </span>{{ element.description }}
</div>
<br/>
<div class="row">
    <div class="col-sm-2"><span style="color:Gray;">Fecha inicio: </span></div><div class="col-sm-2">{{ element.initDate|date:"Y-m-d H:i" }}</div>
</div>
<div class="row">
    <div class="col-sm-2"><span style="color:Gray;">Fecha fin: </span></div><div class="col-sm-2">{{ element.endDate|date:"Y-m-d H:i" }}</div>
</div>
{% endblock %}
