{% extends "reqApp/base.html" %}

{% block body %}
<div class="row">
    <div class="col-sm-3">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-primary btn-xs" onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in IC_CHOICES %}
                <option title="Filtrar por Hito" data-icon="glyphicon-stats" value="?increment={{key}}"{% ifequal increment key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-1 col-sm-offset-7">
        <a title="Generar Documento PDF" data-toggle="tooltip" data-placement="auto" href="{% url 'reqApp:pdf' %}?pdfType=ST" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF</a>
    </div>
    <div class="col-sm-1">
        <a style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Ayuda</a>
    </div>
</div>

<h3>Requisitos de Usuario{% if icName %}, {{ icName }}{% endif %}</h3>
{% include "reqApp/tools/statistics/UR.html" with UR=UR %}

<br/>
<h3>Requisitos de Software{% if icName %}, {{ icName }}{% endif %}</h3>
{% include "reqApp/tools/statistics/SR.html" with SR=SR %}

<br/>
<h3>Casos de Prueba{% if icName %}, {{ icName }}{% endif %}</h3>
{% include "reqApp/tools/statistics/TC.html" with TC=TC %}

<br/>
<h3>Módulos</h3>
{% include "reqApp/tools/statistics/MD.html" with MD=MD %}

<br/>
<ul>
<li>Los Módulos no se encuentran asociados a un Hito específico, en esta tabla se cuentan todos los MD asociados al proyecto.</li>
<li>No se contabilizan RU ni RS sin Hito asociado.</li>
<li>Se contabilizan sólo los CP asociados a los requisitos contabilizados aquí.</li>
<li>Elementos sin RU, RS o TU asociados son contabilizados en el total.</li>
</ul>
{% endblock %}
