{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}MD{% endblock %}

{% block head %}
    <div class="col-sm-6">
        <a name="{{ element.identifierText }}"></a>
        <b class="element-identifierText">{{ element }}</b><span class="element-pointer"> &#x25C4;</span>
    </div>
    <div class="col-sm-2">
        <span data-toggle="tooltip" data-placement="left" title="Costo">{{ element.cost }}</span>
    </div>
    <div class="col-sm-4"><span data-toggle="tooltip" data-placement="left" title="Urgencia">{{ element|priority }}</span></div>
{% endblock %}
