{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}MD{% endblock %}

{% block head %}
    <div class="col-sm-6">
        <a name="{{ element.identifierText }}"></a>
        <b class="element-identifierText">{{ element }}</b>
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Costo" class="col-sm-2">
        {{ element.cost }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Prioridad" class="col-sm-4">{{ element|priority }}</div>
{% endblock %}
