{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}


{% block head %}
    <div style="display: inline-block;width:60%;vertical-align:top;">
        <a trigger="yes" onclick="showHideContent(this, '{% url 'reqApp:elemContent' %}', 'MD', {{ element.id }}, {% if registry %}1{% else %}0{% endif %}, {% if canEdit %}1{% else %}0{% endif %})" style="cursor:pointer;" name="{{ element.identifierText }}">
            <b>{{ element }}</b>
        </a>
    </div>
    <div data-toggle="tooltip" data-placement="top" title="Costo" style="display: inline-block;width:2%;vertical-align:top;">
        {{ element.cost }}
    </div>
    <div style="display: inline-block;width:5%;vertical-align:top;"></div>
    <div tooltip="Prioridad" style="display: inline-block;width:16%;vertical-align:top;">{{ element|priority }}</div>
    <div style="display: inline-block;width:10%;vertical-align:top;"></div>
{% endblock %}
