{% load staticfiles %}
{% load reqApp_tags %}

<!DOCTYPE html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reqApp.css' %}" />
    <script type="text/javascript" src="{% static 'js/reqApp.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

{% comment %}
    <script type="text/javascript" src="{% static 'js/jquery.dropdown.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dropdown.css' %}" />
{% endcomment %}
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.countdown.css' %}"> 
    <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/nprogress.css' %}" />
    <script type="text/javascript" src="{% static 'js/nprogress.js' %}"></script>
    
    {% with project=request|userProject %}
        <title>mainReq :: {{ project.name }}</title>
    {% endwith %}
</head>

<body>
    
    {% include "reqApp/navbar.html" with project=request|userProject %}
    
    <ol class="breadcrumb" style="color:Gray">
        {% ifequal navbar.1 "project" %}<li>Proyecto</li>{% endifequal %}
        {% ifequal navbar.1 "documents" %}<li>Documentos</li>{% endifequal %}
        {% ifequal navbar.1 "tools" %}<li>Herramientas</li>{% endifequal %}
        
        {% ifequal navbar.2 "IC" %}<li>Hitos</li>{% endifequal %}
        {% ifequal navbar.2 "UT" %}<li>Tipos de Usuario</li>{% endifequal %}
        {% ifequal navbar.2 "UR" %}<li>Requisitos de Usuario</li>{% endifequal %}
        {% ifequal navbar.2 "SR" %}<li>Requisitos de Software</li>{% endifequal %}
        {% ifequal navbar.2 "MD" %}<li>Módulos</li>{% endifequal %}
        {% ifequal navbar.2 "TC" %}<li>Casos de Prueba</li>{% endifequal %}
        
        {% ifequal navbar.2 "requirements" %}<li>Documento de Requisitos</li>{% endifequal %}
        {% ifequal navbar.2 "design" %}<li>Documento de Diseño</li>{% endifequal %}
        {% ifequal navbar.2 "tc" %}<li>Documento de Casos de Prueba</li>{% endifequal %}
        {% ifequal navbar.2 "historic" %}<li>Documento Histórico</li>{% endifequal %}
        
        {% ifequal navbar.2 "tasks" %}<li>Tareas</li>{% endifequal %}
        {% ifequal navbar.2 "statistics" %}<li>Estadísticas</li>{% endifequal %}
        {% ifequal navbar.2 "matrices" %}<li>Matrices de Trazado</li>{% endifequal %}
        {% ifequal navbar.2 "consistency" %}<li>Consistencia de Relaciones</li>{% endifequal %}
        {% ifequal navbar.2 "registry" %}<li>Bitácora</li>{% endifequal %}
        
        {% block extrabreadcrumb %}{% endblock %}
    </ol>
    
    
    {% block body %}{% endblock %}
    
    
    {% comment %}
    <div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right">
        <div style="padding:10px;" class="element_container">
            <div><span style="color:Gray;">Nombre: </span>{{ user.first_name }} {{ user.last_name }}</div>
            <div><span style="color:Gray;">Email: </span>{{ user.email }}</div>
            <div><span style="color:Gray;">Rol: </span>
                {% for role in user.groups.all %}
                    {{ role }},
                {% endfor %}
            </div>
            {% with project=request|userProject %}
                <div><span style="color:Gray;">Proyecto: </span>{{ project.name }}</div>
            {% endwith %}
            <div style="text-align:center;">
                <br/>
                <a class="blue_button" href="{% url 'reqApp:editUser' %}?next={% firstof request.path '/' %}">Cuenta</a>
                {% ifequal user.userprofile.projects.count 1 %}{% else %}
                    <a class="blue_button" href="{% url 'reqApp:PR' %}">Proyectos</a>
                {% endifequal %}
                {% if user.is_staff %}{% if user.is_superuser %}
                    <a class="blue_button" href="/admin">Administración</a>
                {% endif %}{% endif %}
                <a class="blue_button" href="{% url 'reqApp:logout' %}">Salir</a>
                <br/>
            </div>
        </div>
    </div>
    {% endcomment %}
</body>
</html>
