{% load reqApp_tags %}

{% comment %}
<div class="navbar_up">
    <ul>
    <li><a progressbar title="Editar/Ver Elementos&#013;del Proyecto" name="navbar" {% ifequal navbar.1 "project" %} class="navbar_up_selected" {% endifequal %} href="{% url 'reqApp:IC' %}">Proyecto</a></li>
    <li><a progressbar title="Editar/Descargar Documentos&#013;del Proyecto" name="navbar" {% ifequal navbar.1 "documents" %} class="navbar_up_selected" {% endifequal %} href="{% url 'reqApp:docReq' %}">Documentos</a></li>
    <li><a progressbar title="Tareas,&#013;Estadísticas,&#013;Matrices,&#013;Consistencia,&#013;Bitácora" name="navbar" {% ifequal navbar.1 "tools" %} class="navbar_up_selected" {% endifequal %} href="{% url 'reqApp:tasks' %}">Herramientas</a></li>
    </ul>
</div>

<div class="navbar_down">
    <ul>
        {% ifequal navbar.1 "project" %}
            <li><a progressbar tooltip="HT" name="navbar" {% ifequal navbar.2 "IC" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:IC' %}">Hitos</a></li>
            <li><a progressbar tooltip="TU" name="navbar" {% ifequal navbar.2 "UT" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:UT' %}">Tipos de Usuario</a></li>
            <li><a progressbar tooltip="RU" name="navbar" {% ifequal navbar.2 "UR" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:UR' %}">Requisitos de Usuario</a></li>
            <li><a progressbar tooltip="RS" name="navbar" {% ifequal navbar.2 "SR" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:SR' %}">Requisitos de Software</a></li>
            <li><a progressbar tooltip="MD" name="navbar" {% ifequal navbar.2 "MD" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:MD' %}">Módulos</a></li>
            <li><a progressbar tooltip="CP" name="navbar" {% ifequal navbar.2 "TC" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:TC' %}">Casos de Prueba</a></li>
        {% endifequal %}
        
        {% ifequal navbar.1 "documents" %}
            <li><a progressbar title="Editar/Descargar Documento&#013;de Requisitos" name="navbar" {% ifequal navbar.2 "requirements" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:docReq' %}">Documento de Requisitos</a></li>
            <li><a progressbar title="Editar/Descargar Documento&#013;de Diseño" name="navbar" {% ifequal navbar.2 "design" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:docDsn' %}">Documento de Diseño</a></li>
            <li><a progressbar title="Editar/Descargar Documento&#013;de Casos de Prueba" name="navbar" {% ifequal navbar.2 "tc" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:docTC' %}">Documento de Casos de Prueba</a></li>
            <li><a progressbar title="Editar/Descargar Documento&#013;Histórico" name="navbar" {% ifequal navbar.2 "historic" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:docHis' %}">Documento Histórico</a></li>
        {% endifequal %}
        
        {% ifequal navbar.1 "tools" %}
            <li><a progressbar title="Reportar/Asignar&#013;Tareas Individuales" name="navbar" {% ifequal navbar.2 "tasks" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:tasks' %}">Tareas</a></li>
            <li><a progressbar title="Indicadores Estadísticos&#013;de Avance del Proyecto&#013;por Hito" name="navbar" {% ifequal navbar.2 "statistics" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:statistics' %}">Estadísticas</a></li>
            <li><a progressbar title="Matrices de Trazado" name="navbar" {% ifequal navbar.2 "matrices" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:matrices' %}">Matrices de Trazado</a></li>
            <li><a progressbar title="Revisar la Consistencia&#013;de Relaciones entre&#013;Elementos del Proyecto" name="navbar" {% ifequal navbar.2 "consistency" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:consistency' %}">Consistencia de Relaciones</a></li>
            <li><a progressbar title="Historial de Cambios&#013;de Elementos del Proyecto" name="navbar" {% ifequal navbar.2 "registry" %} class="navbar_down_selected" {% endifequal %} href="{% url 'reqApp:registry' %}">Bitácora</a></li>
        {% endifequal %}
    </ul>
</div>
{% endcomment %}
<!-------------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">MainReq </span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% ifequal navbar.1 "project" %} class="active" {% endifequal %} class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyecto <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a progressbar {% ifequal navbar.2 "IC" %} class="active" {% endifequal %} href="{% url 'reqApp:IC' %}">Hitos</a></li>
            <li><a progressbar {% ifequal navbar.2 "UT" %} class="active" {% endifequal %} href="{% url 'reqApp:UT' %}">Tipos de Usuario</a></li>
            <li><a progressbar {% ifequal navbar.2 "UR" %} class="active" {% endifequal %} href="{% url 'reqApp:UR' %}">Requisitos de Usuario</a></li>
            <li><a progressbar {% ifequal navbar.2 "SR" %} class="active" {% endifequal %} href="{% url 'reqApp:SR' %}">Requisitos de Software</a></li>
            <li><a progressbar {% ifequal navbar.2 "MD" %} class="active" {% endifequal %} href="{% url 'reqApp:MD' %}">Módulos</a></li>
            <li><a progressbar {% ifequal navbar.2 "TC" %} class="active" {% endifequal %} href="{% url 'reqApp:TC' %}">Casos de Prueba</a></li>
          </ul>
        </li>
        <li {% ifequal navbar.1 "documents" %} class="active" {% endifequal %} class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a progressbar {% ifequal navbar.2 "requirements" %} class="active" {% endifequal %} href="{% url 'reqApp:docReq' %}">Documento de Requisitos</a></li>
            <li><a progressbar {% ifequal navbar.2 "design" %} class="active" {% endifequal %} href="{% url 'reqApp:docDsn' %}">Documento de Diseño</a></li>
            <li><a progressbar {% ifequal navbar.2 "tc" %} class="active" {% endifequal %} href="{% url 'reqApp:docTC' %}">Documento de Casos de Prueba</a></li>
            <li><a progressbar {% ifequal navbar.2 "historic" %} class="active" {% endifequal %} href="{% url 'reqApp:docHis' %}">Documento Histórico</a></li>
          </ul>
        </li>
        <li {% ifequal navbar.1 "tools" %} class="active" {% endifequal %} class="dropdown">
          <a {% ifequal navbar.1 "project" %} class="active" {% endifequal %} href="#" class="dropdown-toggle" data-toggle="dropdown">Herramientas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a progressbar {% ifequal navbar.2 "tasks" %} class="active" {% endifequal %} href="{% url 'reqApp:tasks' %}">Tareas</a></li>
            <li><a progressbar {% ifequal navbar.2 "statistics" %} class="active" {% endifequal %} href="{% url 'reqApp:statistics' %}">Estadísticas</a></li>
            <li><a progressbar {% ifequal navbar.2 "matrices" %} class="active" {% endifequal %} href="{% url 'reqApp:matrices' %}">Matrices de Trazado</a></li>
            <li><a progressbar {% ifequal navbar.2 "consistency" %} class="active" {% endifequal %} href="{% url 'reqApp:consistency' %}">Consistencia de Relaciones</a></li>
            <li><a progressbar {% ifequal navbar.2 "registry" %} class="active" {% endifequal %} href="{% url 'reqApp:registry' %}">Bitácora</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Bienvenido, {{ user }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><span style="color:Gray;">Nombre: </span>{{ user.first_name }} {{ user.last_name }}</li>
                <li><span style="color:Gray;">Email: </span>{{ user.email }}</li>
                {% with project=request|userProject %}
                    <li><span style="color:Gray;">Proyecto: </span>{{ project.name }}</li>
                {% endwith %}
            </ul>
            {% comment %}
            <div class="dropdown-menu" role="menu">
                <div><span style="color:Gray;">Nombre: </span>{{ user.first_name }} {{ user.last_name }}</div>
                <div><span style="color:Gray;">Email: </span>{{ user.email }}</div>
                <div><span style="color:Gray;">Rol: </span>
                    {% for role in user.groups.all %}
                        {{ role }},
                    {% endfor %}
                </div>
                {% with project=request|userProject %}
                    <div><span style="color:Gray;">Proyecto: </span>{{ project.name }}</div>
                {% endwith %}
                <div style="text-align:center;">
                    <br/>
                    <a href="{% url 'reqApp:editUser' %}?next={% firstof request.path '/' %}">Cuenta</a>
                    {% ifequal user.userprofile.projects.count 1 %}{% else %}
                        <a href="{% url 'reqApp:PR' %}">Proyectos</a>
                    {% endifequal %}
                    {% if user.is_staff %}{% if user.is_superuser %}
                        <a href="/admin">Administración</a>
                    {% endif %}{% endif %}
                    <a href="{% url 'reqApp:logout' %}">Salir</a>
                    <br/>
                </div>
            </div>
            {% endcomment %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<ol class="breadcrumb" style="color:Gray">
    {% ifequal navbar.1 "project" %}<li>Proyecto</li>{% endifequal %}
    {% ifequal navbar.1 "documents" %}<li>Documentos</li>{% endifequal %}
    {% ifequal navbar.1 "tools" %}<li>Herramientas</li>{% endifequal %}
    
    {% ifequal navbar.2 "IC" %}<li>Hitos</li>{% endifequal %}
    {% ifequal navbar.2 "UT" %}<li>Tipos de Usuario</li>{% endifequal %}
    {% ifequal navbar.2 "UR" %}<li>Requisitos de Usuario</li>{% endifequal %}
    {% ifequal navbar.2 "SR" %}<li>Requisitos de Software</li>{% endifequal %}
    {% ifequal navbar.2 "MD" %}<li>Módulos</li>{% endifequal %}
    {% ifequal navbar.2 "TC" %}<li>Casos de Prueba</li>{% endifequal %}
    
    {% ifequal navbar.2 "requirements" %}<li>Documento de Requisitos</li>{% endifequal %}
    {% ifequal navbar.2 "design" %}<li>Documento de Diseño</li>{% endifequal %}
    {% ifequal navbar.2 "tc" %}<li>Documento de Casos de Prueba</li>{% endifequal %}
    {% ifequal navbar.2 "historic" %}<li>Documento Histórico</li>{% endifequal %}
    
    {% ifequal navbar.2 "tasks" %}<li>Tareas</li>{% endifequal %}
    {% ifequal navbar.2 "statistics" %}<li>Estadísticas</li>{% endifequal %}
    {% ifequal navbar.2 "matrices" %}<li>Matrices de Trazado</li>{% endifequal %}
    {% ifequal navbar.2 "consistency" %}<li>Consistencia de Relaciones</li>{% endifequal %}
    {% ifequal navbar.2 "registry" %}<li>Bitácora</li>{% endifequal %}
</ol>
