{% load staticfiles %}
<!DOCTYPE html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/reqApp.css' %}" />
    <title>mainReq</title>
</head>

<body>
    <div style="text-align:center;padding:10px;margin:10%;margin-top:10em;" class="element_container">
        <div style="float:right;"><a class="btn btn-primary" href="{% url 'reqApp:logout' %}">Salir</a></div>
        {% if user.is_staff %}{% if user.is_superuser %}
            <div style="width:100%;text-align:left;"><a class="btn btn-primary" href="/admin">Administración</a></div>
        {% endif %}{% endif %}
        <h1><i>main</i>Req</h1>
        <h2>Hola {{user}}</h2>
        {% if projects %}
            <form method="POST">{% csrf_token %}
                <div style="text-align:left">
                    <p>Selecciona un proyecto:</p>
                    <div class="radio">
                        {% for index,pr in projects %}
                            <label>
                                <input style="cursor:pointer" id="{{index}}" type="radio" name="index" value="{{index}}" onchange="this.form.submit()">
                                <span onMouseOver="this.style.color='#428bca'" onMouseOut="this.style.color='#000'">{{pr}}</span>
                                <span class="help-block">{{pr.description}}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% else %}
            <p>!No tiene proyectos asociados!</p>
        {% endif %}
        <br/>
    </div>
</body>
</html>
