{% extends "reqApp/base.html" %}
{% load reqApp_tags %}
{% block body %}

<div class="row">
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Expandir Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='showContents()'><span class="glyphicon glyphicon-zoom-in"></span> Abrir</a>
    </div>
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Colapsar Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='hideContents()'><span class="glyphicon glyphicon-zoom-out"></span> Cerrar</a>
    </div>
    <div class="col-sm-3">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-primary btn-xs" id='consistencySelect' onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in CONSISTENCY_CHOICES %}
                <option data-icon="glyphicon-eye-open" value="?consistency={{key}}"{% ifequal consistency key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-default btn-xs" onchange="location = document.getElementById('consistencySelect').options[document.getElementById('consistencySelect').selectedIndex].value + this.options[this.selectedIndex].value;">
            {% for key,val in IDENTIFIER_CHOICES %}
                <option value="&identifier={{key}}"{% ifequal identifier|stringformat:"s" key|stringformat:"s" %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="white-space:nowrap;" class="col-sm-1 col-sm-offset-1">
        <a title="Generar Documento PDF" data-toggle="tooltip" data-placement="auto" href="{% url 'reqApp:pdf' %}?pdfType=CT&consistency={{consistency}}" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF</a>
    </div>
    <div class="col-sm-1">
        <a title="Ayuda" data-toggle="tooltip" data-placement="auto" style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
</div>

<div style="text-align:right;">
    <p>
        <i style="color:Gray;">Estado:</i>
        <b class="reqLabel label-satisfy">cumple</b>
        <b class="reqLabel label-fails">no cumple</b>
        <b class="reqLabel label-ambiguous">ambiguo</b>
    </p>
</div>

{% if ordering_attributes %}
    {% with get_params="&consistency="|concat:consistency|concat:"&identifier="|concat:identifier %}
        {% include ordering_bar with attributes=ordering_attributes actual_order=actual_order getParams=get_params %}
    {% endwith %}
{% endif %}
    
{% ifequal elements|length 0 %}
    <p class="centered">--------------- Lista de Elementos Vacía ---------------</p>
{% else %}
    {% for e in elements %}
                {% include templates.element with element=e.element registry=False %}
        {% for se in e.subElements %}
            {% include templates.subElement with element=se registry=False extraStyle="margin-left:50px;" %}
        {% endfor %}
        <br/>
    {% endfor %}
{% endifequal %}

<br/><br/><br/><br/><br/><br/>

{% endblock %}
