{% extends "reqApp/base.html" %}
{% load reqApp_tags %}
{% block body %}
<div class="row">
    <div class="col-sm-3">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-primary btn-xs" onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in MATRIX_CHOICES %}
                <option data-icon="glyphicon-th" value="?matrixType={{key}}"{% ifequal matrixType key %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-1 col-sm-offset-7">
        <a title="Generar Documento PDF" data-toggle="tooltip" data-placement="auto" href="{% url 'reqApp:pdf' %}?pdfType=MT" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF</a>
    </div>
    <div class="col-sm-1">
        <a style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Ayuda</a>
    </div>
</div>

<div style="text-align:right;">
    <p>
        <i style="color:Gray;">Estado:</i>
        <b class="reqLabel label-satisfy">cumple</b>
        <b class="reqLabel label-fails">no cumple</b>
        <b class="reqLabel label-ambiguous">ambiguo</b>
        <b class="reqLabel" style="background-color:Black;">&#x25a1; intersectan</b>
        <b class="reqLabel" style="background-color:Gray;">&#x25a1; sin intersección</b>
        <b class="reqLabel" style="background-color:#1464F6;">&#x25a1; seleccionable</b>
        <b class="reqLabel" style="background-color:#1464F6;">&#x25CB; seleccionado</b>
    </p>
</div>

<table id="matr" class="matr-table" matrixType="{{ matrixType }}">
    <tr>
        <th></th>
        {% for e in rows.0 %}
            <th class="{{ e.elCol.state }}" elColIdentifier = {{ e.elCol.identifier }}>{{ e.elCol.identifierText|verticalLabel|safe }}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
            <th
                class="{{ row.0.elRow.state }}"
                elRowIdentifier = {{ row.0.elRow.identifier }}>
                {{ row.0.elRow.identifierText }}
            </th>
        {% for e in row %}
            <td {% if e.match %}
                    class="matr_match"
                {% elif e.never_intersec %}
                    class="matr_no_intersec"
                {% elif e.row_no_intersec %}
                    class="matr_no_intersec_row"
                {% elif e.col_no_intersec %}
                    class="matr_no_intersec_col"
                {% else %}
                    class="matr_no_match"
                {% endif %}
                name = "matrix_element"
                title = "Haz CLIC para ver detalles..."
                elRowIdentifier = {{ e.elRow.identifier }}
                elColIdentifier = {{ e.elCol.identifier }}>
                    <div class="matr_selec"></div>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<br/>
<a name="bottom"></a>
<div id='row'></div>
<div id='col'></div>
<br/>
<br/><br/><br/><br/><br/>
{% endblock %}
