{% extends "admin/base.html" %}

{% block title %}mainReq administration{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'reqApp:PR' %}"><i>main</i>Req</a></h1>
{% endblock %}

{% block nav-global %}
    <div>
        <a style="float:right;margin-right:1em;" title="select a project" href="{% url 'reqApp:PR' %}"><b>My Projects ...</b></a>
        <a style="margin-left:1em;" title="select a project" href="{% url 'reqApp:admin_help' %}" target="_blank"><b>Help?</b></a>
    </div>
{% endblock %}
