{% extends "reqApp/base.html" %}
{% load reqApp_tags %}
{% block body %}
<div class="row">
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Expandir Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='showContents()'><span class="glyphicon glyphicon-zoom-in"></span> Abrir</a>
    </div>
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Colapsar Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='hideContents()'><span class="glyphicon glyphicon-zoom-out"></span> Cerrar</a>
    </div>
    <div class="col-sm-3">
        {% if canEditTasks %} 
            <select progressbar class="selectpicker" data-width="auto" data-style="btn-default btn-xs" onchange="location=$(this).val();">
                <option title="Responsable" value="?">No Seleccionado</option>
                {% for i,w in workerUsers %}
                    <option data-icon="glyphicon-user" value="?userIndex={{i}}"{% ifequal userIndex i %}selected{% endifequal %}>{{w}}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <select progressbar  class="selectpicker" data-width="auto" data-style="btn-default btn-xs" onchange="location=$(this).val();">
            <option title="Filtrar por Estado" value="?userIndex={{ userIndex }}">Sin Filtro</option>
            {% for s,n in states %}
                <option data-icon="glyphicon-ok-sign" {% ifequal state s %}selected{% endifequal %} value="?state={{ s }}&userIndex={{ userIndex }}">{{ n }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        {% if canEditTasks %}
            <a title="Agregar Nueva Tarea" href='#new' class="btn btn-primary btn-xs" onclick='editNewElement()'><span class="glyphicon glyphicon-plus"></span> Nueva</a>
        {% endif %}
    </div>
    <div style="text-align:right;" class="col-sm-1">
        <a title="Ayuda" data-toggle="tooltip" data-placement="auto" style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
</div>

{% for msg in msgs %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {{ msg }}
    </div>
{% endfor %}

<div class="reqLabelDiv">
    <i style="color:Gray;">Tareas:</i>
    <b class="reqLabel label-to_do">{{ tasks|length }}</b>
    <i style="color:Gray;">Estado:</i>
    <b class="reqLabel label-to_do">por hacer</b>
    <b class="reqLabel label-done">realizada</b>
    <b class="reqLabel label-not_done">no realizada</b>
    <b class="reqLabel label-approved">aprobada</b>
    <b class="reqLabel label-reprobate">reprobada</b>
    <b class="reqLabel label-discarded">descartada</b>
</div>

{% include ordering_bar with attributes=ordering_attributes actual_order=actual_order getParams=getParams %}

{% ifequal tasks|length 0 %}
    <p class="centered">--------------- No hay Tareas ---------------</p>
{% else %}
    {% for t in tasks %}
                {% include template with task=t canEditTasks=canEditTasks %}
    {% endfor %}
{% endifequal %}

{% if canEditTasks %}
    {% ifequal workerUsers.count 0 %}
        <p class="centered">--------------- No existe un integrante a quien asignarle tareas! ---------------</p>
    {% else %}
        <div class="new_element">
            <a name='new'></a>
            {% include form_template with form=form %}
        </div>
    {% endifequal %}
{% endif %}

<br/><br/><br/><br/><br/><br/>

{% endblock %}
