{% load reqApp_tags %}
<div class="element_container">
    <div>
        <div>
            <div>
                <div>
                    <div class="element_title row" trigger="yes" onclick="showHideContent(this,'TK',0)" style="cursor:pointer;">
                        <div class="col-sm-4">
                            <b class="{{ task|taskState2CssClass }} element-identifierText">{{ task }}</b><span class="element-pointer"> &#x25C4;</span>
                        </div>
                        <div style="white-space:nowrap;" class="col-sm-2">
                            <div title="Responsable" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-user"></span><span>{{ task.user }}</span></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6" data-toggle="tooltip" data-placement="left" title="Fecha Revisión">{{ task.deadlineDate|date:"Y-m-d H:i" }}</div>
                                <div class="col-sm-6">
                                    <span data-toggle="tooltip" data-placement="left" title="Tiempo Restante" name="countDown" secondsToDeadline={{ task|secondsToDeadline }}></span>
                                    {% if task.isLate %}
                                        <span style="color:Red">atrasada</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div name="element_content" class="element_content" ready="yes">    
            <div><span style="color:Gray;">Estado: </span><span class="{{ task|taskState2CssClass }}">{{ task|taskState }}</span></div>
            <div><span style="color:Gray;">Email Responsable: </span>{{ task.user.email }}</div>
            <div><span style="color:Gray;">Fecha inicio: </span>{{ task.initDate|date:"Y-m-d H:i" }}</div>
            <div><span style="color:Gray;">Fecha revisión: </span>{{ task.deadlineDate|date:"Y-m-d H:i" }}</div>
            <div><span style="color:Gray;">Plazo: </span>{{ task|daysHoursToDeadline }}</div>
            <div><span style="color:Gray;">Fecha realizada: </span>{% if task.isDone or task.isApproved or task.isReprobated %}{{ task.doneDate|date:"Y-m-d H:i" }}{% else %}(no aún){% endif %}</div>
            <br/>
            <div><span style="color:Gray;">Descripción: </span>{{ task.description }}</div>
            <br/>
            {% if isTasksEditor %}
                {% if canEditTasks %}
                    <div class="row">
                        {% if task|showTaskButton:'reprobate' %}
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-xs" onclick="taskButton('Esta acción es irreversible ¿Esta tarea fue realizada de manera satisfactoria?\n\nAprobar: {{ task }}', {{ task.id }}, 'approved', '{{csrf_token}}')"><span class="glyphicon glyphicon-thumbs-up"></span> Aprobar</button>
                            </div>
                            <div class="col-sm-3">
	                            <button class="btn btn-primary btn-xs" onclick="taskButton('Esta acción es irreversible ¿Esta tarea no fue realizada de manera satisfactoria?\n\nReprobar: {{ task }}', {{ task.id }}, 'reprobate', '{{csrf_token}}')"><span class="glyphicon glyphicon-thumbs-down"></span> Reprobar</button>
	                        </div>
	                    {% endif %}
	                    {% if task|showTaskButton:'discarded' %}
	                        <div class="col-sm-2">
	                            <button class="btn btn-primary btn-xs" onclick="taskButton('Esta acción es irreversible ¿Esta tarea no se encuentra correctamente redactada o su especificación es ambigua?\n\nDescartar: {{ task }}', {{ task.id }}, 'discarded', '{{csrf_token}}')"><span class="glyphicon glyphicon-trash"></span> Descartar</button>
	                        </div>
	                    {% endif %}
	                </div>
	            {% endif %}
	        {% else %}
	            {% if canDoTask %}
	                <div class="row">
	                    {% if task|showTaskButton:'doing' %}
	                        <div class="col-sm-2">
        	                    <button class="btn btn-primary btn-xs" onclick="taskButton('', {{ task.id }}, 'doing', '{{csrf_token}}')"><span class="glyphicon glyphicon-pushpin"></span> Haciendo</button>
        	                </div>
	                    {% elif task|showTaskButton:'to_do' %}
	                        <div class="col-sm-2">
        	                    <button class="btn btn-primary btn-xs" onclick="taskButton('', {{ task.id }}, 'to_do', '{{csrf_token}}')"><span class="glyphicon glyphicon-pushpin"></span> No Haciendo</button>
        	                </div>
	                    {% endif %}
	                    {% if task|showTaskButton:'done' %}
	                        <div class="col-sm-2">
        	                    <button class="btn btn-primary btn-xs" onclick="taskButton('Esta acción es irreversible ¿Esta tarea fue realizada y está lista para ser revisada?\n\nTarea Realizada: {{ task }}', {{ task.id }}, 'done', '{{csrf_token}}')"><span class="glyphicon glyphicon-ok"></span> Realizada</button>
        	                </div>
	                    {% endif %}
	                </div>
	            {% endif %}
	        {% endif %}
        </div>
    </div>
</div>
