{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}SR{% endblock %}

{% block head %}
    <div class="col-sm-4">
        <a name="{{ element.identifierText }}"></a>
        <b class="{{ element.state }} element-identifierText">{{ element }}</b>
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Costo" class="col-sm-1">
        {{ element.cost }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Prioridad" class="col-sm-2">
        {{ element|priority }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Tipo" class="col-sm-2">
        {{ element|SRType }}
    </div>
    <div data-toggle="tooltip" data-placement="left" title="Hito Asociado" class="col-sm-3">
        {% if element.increment.validity %}
            <div>{{ element.increment }}</div>
        {% else %}
            <div style="color:Gray;">{{ element.increment }} (eliminado)</div>
        {% endif %}
    </div>
{% endblock %}
