{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}SR{% endblock %}

{% block head %}
    <div class="col-sm-4">
        {#<span class="element-pointer caret"></span>#}
        <a name="{{ element.identifierText }}"></a>
        <b class="{{ element.state }} element-identifierText">{{ element }}</b>
    </div>
    <div class="col-sm-1">
        <span data-toggle="tooltip" data-placement="left" title="Costo">{{ element.cost }}</span>
    </div>
    <div class="col-sm-2">
        <span data-toggle="tooltip" data-placement="left" title="Prioridad">{{ element|priority }}</span>
    </div>
    <div class="col-sm-2">
        <span data-toggle="tooltip" data-placement="left" title="Tipo">{{ element|SRType }}</span>
    </div>
    <div class="col-sm-3">
        {% if element.increment.validity %}
            <span data-toggle="tooltip" data-placement="left" title="Hito Asociado">{{ element.increment }}</span>
        {% else %}
            <span data-toggle="tooltip" data-placement="left" title="Hito Asociado" style="color:Gray;">{{ element.increment }} (eliminado)</span>
        {% endif %}
    </div>
{% endblock %}
