{% extends "reqApp/project/element_content.html" %}
{% load reqApp_tags %}


{% block content %}
<div><span style="color:Gray;">Estado: </span><span class="{{ element.state }}">{{ element|state }}</span></div>
    <br/>
    <div>
        <span style="color:Gray;">Descripción: </span>{{ element.description }}
    </div>
    <br/>
    <div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <div><span style="color:Gray;">Fuente: </span>{{ element.source }}</div>
            <div><span style="color:Gray;">Estabilidad: </span>{{ element|stability }}</div>
        </div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <ul class="flat">
                <span style="color:Gray;">
                    {% if registry %}
                        Usuarios asociados({{element.userTypes|enlistRegistered|listCount}}):
                    {% else %}
                        Usuarios asociados({{element.userTypes|enlistValids|listCount}}):
                    {% endif %}
                </span>
                <ul>
                    {% if registry %}
                        {% for ut in element.userTypes|enlistRegistered %}
                            {% if ut.validity %}
                                <li>{{ut}}</li>
                            {% else %}
                                <li style="color:Gray;" >{{ut}} (eliminado)</li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for ut in element.userTypes|enlistValids %}
                            <li>{{ut}}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </ul>
        </div>
        <div style="display: inline-block;width:30%;vertical-align:top;">
            <ul class="flat">
                <span style="color:Gray;">
                        {% if registry %}
                            RU asociados({{element.userRequirements|enlistRegistered|listCount}}):
                        {% else %}
                            RU asociados({{element.userRequirements|enlistValids|listCount}}):
                        {% endif %}
                </span>
                <ul>
                    {% if registry %}
                        {% for ur in element.userRequirements|enlistRegistered %}
                            {% if ur.validity %}
                                <li class="{{ ur.state }}">{{ur}}</li>
                            {% else %}
                                <li class="{{ ur.state }}" style="color:Gray;">{{ur}} (eliminado)</li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for ur in element.userRequirements|enlistValids %}
                            <li class="{{ ur.state }}">{{ur}}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
