{% extends "reqApp/project/element_form.html" %}
{% load reqApp_tags %}

{% block fields %}
    <div class="form-group">
        <label>*Nombre</label>
        {{ form.name|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Descripción</label>
        {{ form.description|attr:"class:form-control,rows:3" }}
    </div>
    <div class="form-group">
        <label>*Hito</span>
        {{ form.increment|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>RU asociados</label>
        {{ form.userRequirements|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>Tipos de Usuario asociados</label>
        {{ form.userTypes|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Prioridad</label>
        {{ form.priority|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Estabilidad</label>
        {{ form.stability|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Tipo</label>
        {{ form.reqType|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Fuente</label>
        {{ form.source|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>*Estado</label>
        {{ form.state|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label>Costo</label>
        {{ form.cost|attr:"class:form-control" }}
    </div>
{% endblock %}
