{% extends "reqApp/project/element_content.html" %}
{% load reqApp_tags %}


{% block content %}
<br/>
    <div>
        <span style="color:Gray;">Descripción: </span>{{ element.description|safe }}
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <span style="color:Gray;">Cantidad de usuarios: </span>{{ element.quantity }}
        </div>
        <div class="col-sm-4">
            <ul class="flat">
            {% with samples=element.userSamples|splitBy:';' %}
            <span style="color:Gray;">Usuarios localizables ({{samples|listLen}}): </span>
                <ul>
                    {% for c in samples %}
                        <li>{{c}}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
            </ul>
        </div>
    </div>
{% endblock %}
