{% extends "reqApp/base.html" %}
{% block body %}
<div class="row">
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Expandir Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='showContents()'><span class="glyphicon glyphicon-zoom-in"></span> Abrir</a>
    </div>
    <div style="white-space:nowrap;" class="col-sm-1">
        <a title="Colapsar Elementos" href="#" data-toggle="tooltip" data-placement="auto" onclick='hideContents()'><span class="glyphicon glyphicon-zoom-out"></span> Cerrar</a>
    </div>
    <div class="col-sm-3">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-primary btn-xs" id='registrySelect' onchange="location = this.options[this.selectedIndex].value;">
            {% for key,val in REGISTRY_CHOICES %}
                <option data-icon="glyphicon-list" value="?registryType={{key}}"{% ifequal registryType key %}selected{% endifequal %} onclick="location='?registryType={{key}}';">{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <select progressbar class="selectpicker" data-width="auto" data-style="btn-default btn-xs" onchange="location = $('#registrySelect').val() + $(this).val();">
            {% for key,val in IDENTIFIER_CHOICES %}
                <option value="&identifier={{key}}"{% ifequal identifier|stringformat:"s" key|stringformat:"s" %}selected{% endifequal %}>{{val}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="text-align:right;" class="col-sm-1 col-sm-offset-3">
        <a title="Ayuda" data-toggle="tooltip" data-placement="auto" style="cursor:help" href="{% url 'reqApp:help' %}#{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
</div>

<div style="text-align:right;">
    <p>
        <i style="color:Gray;">Orden:</i>
        <b class="reqLabel label-to_do">fecha &#x25BF;</b>
        <i style="color:Gray;">Estado:</i>
        <b class="reqLabel label-satisfy">cumple</b>
        <b class="reqLabel label-fails">no cumple</b>
        <b class="reqLabel label-ambiguous">ambiguo</b>
        <b class="reqLabel label-registry-actual">actual</b>
        <b class="reqLabel label-registry-new">creado</b>
        <b class="reqLabel label-registry-edited">editado</b>
        <b class="reqLabel label-registry-deleted">eliminado</b>
    </p>
</div>

{% ifequal elements|length 0 %}
    <p class="centered">--------------- Lista Vacía ---------------</p>
{% else %}
    {% for e in elements %}
        {% include template with element=e.element registry=True actual=e.actual deleted=e.deleted new=e.new %}
    {% endfor %}
{% endifequal %}
<br/><br/><br/><br/><br/><br/>
{% endblock %}
