{% extends "reqApp/project/project_element.html" %}
{% load reqApp_tags %}

{% block elemType %}TC{% endblock %}

{% block head %}
    <div class="col-sm-6">
        <a name="{{ element.identifierText }}"></a>
        <b class="{{ element.state }} element-identifierText">{{ element }}</b>
    </div>
    <div class="col-sm-6">
        {% if element.requirement.validity %}
            <div data-toggle="tooltip" data-placement="left" title="Requisito Asociado" class="{{ element.requirement.state }}">{{ element.requirement }}</div>
        {% else %}
            <div data-toggle="tooltip" data-placement="left" title="Requisito Asociado" style="color:Gray;">{{ element.requirement }} (eliminado)</div>
        {% endif %}
    </div>
{% endblock %}
